<h1>Listing employees</h1>

<table>
  <tr>
    <th>Identification</th>
    <th>Name</th>
    <th>Hire date</th>
    <th>Unit</th>
    <th>Job</th>
    <th>Birthday</th>
    <th>Rg</th>
    <th>Mother name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @employees.each do |employee| %>
  <tr>
    <td><%= employee.identification %></td>
    <td><%= employee.name %></td>
    <td><%= employee.hire_date %></td>
    <td><%= employee.unit %></td>
    <td><%= employee.job %></td>
    <td><%= employee.birthday %></td>
    <td><%= employee.rg %></td>
    <td><%= employee.mother_name %></td>
    <td><%= link_to 'Show', employee %></td>
    <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
    <td><%= link_to 'Destroy', employee, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Employee', new_employee_path %>
